
<div class="grid lg:grid-cols-2 gap-5  lg:mt-[8%] mx-10 pb-10 lg:h-[500px]">
   <div>
    <h3 class=" text-[#29235C] font-bold mt-[25%] lg:mt-5 text-uppercase text-[25px]" data-aos="fade-up"  data-aos-duration="1000">
        SERVICES INFORMATIQUE
    </h3>
    <p class="mt-10" data-aos="fade-up"  data-aos-duration="1000">
        Ici nous vous présentons les différents services informatique que Ayemtech met à la disposition de ces clients particulier
        ou institution.
    </p>
    <div class="flex-column lg:flex gap-5 mt-[3%]">
       <div class="shadow-md px-5 py-5 text-white  bg-gradient-to-r from-[#29235C] to-blue-500 mt-5" data-aos="fade-up"  data-aos-duration="1000">
        Developpement site web
       </div>
       <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
        Developpement d'APIS web
    </div>
    </div>
    <div class="flex-column lg:flex gap-5 mt-5">
        <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
         Developpement application mobile
        </div>
        <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
        Developpement logiciel
     </div>
     </div>
     <div class="flex-column lg:flex gap-5 mt-5">
        <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
        Business intélligence
        </div>
        <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
          Web design
     </div>
     </div>
   </div>
   <div>
     <img src="images/2024_07_25_13_22_IMG_0646.PNG" class="mx-auto mt-[-18%]  opacity-50" data-aos-duration="1000" data-aos="flip-left"/>
   </div>
</div>


<div class="grid lg:grid-cols-2 gap-5  lg:mt-[8%] mx-10 pb-10 lg:h-[500px]">
    <div class="order-2 lg:order-1">
        <img src="images/2024_07_25_13_27_IMG_0647.PNG" class="mx-auto opacity-50" data-aos-duration="1000" data-aos="flip-left"/>
      </div>
    <div class="order-1 lg:order-2">
     <h3 class=" text-[#29235C] font-bold mt-5 text-uppercase text-[25px]" data-aos="fade-up"  data-aos-duration="1000">
         MARKETING DIGITAL
     </h3>
     <p class="mt-10" data-aos="fade-up"  data-aos-duration="1000">
         Ici nous vous présentons tout nos services liés au marketing digital
     </p>
     <div class="flex-column lg:flex gap-5 mt-[3%]">
        <div class="shadow-md px-5 py-5 text-white  bg-gradient-to-r from-[#29235C] to-blue-500 mt-5" data-aos="fade-up"  data-aos-duration="1000">
          Campagne publicitaire
        </div>
        <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
         Optimisation SEO
     </div>
     </div>
     <div class="flex-column lg:flex gap-5 mt-5" >
         <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
           Montage vidéo
         </div>
         <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
           Conception affiche
      </div>
      </div>
      <div class="flex-column lg:flex gap-5 mt-5" data-aos="fade-up">
         <div class="shadow-md px-5 py-5 border mt-5" data-aos-duration="1000">
            Stratégies marketing
         </div>
         <div class="shadow-md px-5 py-5 border mt-5" data-aos="fade-up"  data-aos-duration="1000">
           Autres
      </div>
      </div>
    </div>
 </div>
 <div class="grid lg:grid-cols-3 gap-5  lg:mt-[8%]  pb-10 lg:h-[500px] text-center bg-[#29235C]">
  <div class="order-2 lg:order-1">
       Projet réalisé
    </div>
  <div class="">
       Projet encours
  </div>
  <div class="">
      Projet proposés
 </div>
</div>

 
