<div class="bg-black pb-10">
<div class="grid lg:grid-cols-3 mx-5">
  <div class="order-1 lg:order-1">
    <img src="images/logo.PNG" class="w-[150px] mx-auto opacity-50 mt-[50px]"/>
    <p class="text-center text-white opacity-50">FAQ</p>
  </div>
  <div class="order-3 lg:order-2">
    <h3 class="text-white opacity-60 font-bold text-center text-[20px] mt-[50px] lg:mt-[85px]">Nos réseaux</h3>
    <div class="flex gap-5 text-white justify-center items-center mt-5 text-[20px] opacity-60">
    <a href="https://www.instagram.com/ayemtechno/"><i class="fa-brands fa-instagram"></i></a>
    <a><i class="fa-brands fa-facebook"></i></a>
    <a><i class="fa-brands fa-youtube"></i></a>
    <a><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <p class="text-center text-white text-sm mt-10 opacity-50">©2024 | Ayemtech | Official</p>
  </div>
  <div class="order-2 lg:order-3">
    <div class="border border-white h-[150px] lg:mt-[70px] rounded-xl opacity-50 mx-auto relative text-white md:w-[400px] mt-[60px]">
       <span class="bg-black px-5 py-4 border border-white rounded-full absolute top-[-17%] left-[42%]">
        <i class="fa-solid fa-phone solid"></i>
      </span>
     <div class="text-center mt-[50px] flex-column gap-5">
        <p>+243 85 110 33 68</p>
        <p>+243 84 131 94 47</p>
        <p>+216 52 342 53 1</p>
     </div>
    </div>
  </div>
</div>
</div>
