<div id="top" class="grid lg:grid-cols-2 h-[800px] md:h-[100%]  bg-gradient-to-r from-[#29235C] to-blue-500 overflow-hidden">
 <div class="relative">
    <h2 class="lg:text-[35px] text-[32px] mt-[30%] text-white ml-5  lg:ml-10 font-bold typewriter">
        Nous <span class="text-blue-500 text-shadow">Tansformons</span> <br class="flex md:hidden"/>Votre
        <span class="text-blue-500 text-shadow">Business</span>
    </h2>
    <p class="ml-5 lg:ml-10 text-white mt-5 pb-5">
      Nous automations tout vos processus d'entreprise, nous améliorons la visibilité de vos services et
      nous élargissons votre champs d'actions.
    </p>
    <div class="flex gap-5 ml-5 lg:ml-10 mt-5">
        <button routerLink="/about" class=" w-[150px]  hover:bg-white hover:text-[#29235C] hover:font-bold bg-transparent border border-white text-white py-3 px-5 rounded-md shadow-md">
            Découvrir
        </button>
        <button routerLink="/services"  class="w-[150px]  hover:bg-white hover:text-[#29235C] hover:font-bold  bg-transparent border border-white text-white py-3 px-5 rounded-md shadow-md">
            Services
        </button>
    </div>
 </div>
 <div class="relative">
   <img src="images/2024_07_24_00_11_IMG_0593.PNG" class="w-full mt-[-5%] mx-auto transform hover:scale-105 hover:rotate-[-2deg] duration-500"/>
   <img src="images/Animation - 1721780131650.gif" class="mt-[-5%] w-[90px] opacity-50 mx-auto absolute right-0 top-[2%] lg:top-[12%]"/>
   <img src="images/Animation - 1721782076216.gif" class="mt-[-5%] w-[50px] opacity-50 lg:w-[80px] mx-auto absolute left-0 lg:left-[-5%] bottom-[7%] lg:bottom-[10%]"/>
 </div>
</div>
<app-about></app-about>
<app-services></app-services>
<app-team></app-team>
<a href="/accueil#top" class="text-white px-7 py-5 fixed bottom-5 right-5 bg-red-400 rounded-full z-20 shadow-md cursor-pointer">
  <i class="fa-solid fa-arrow-up"></i>
</a>