<div class="grid lg:grid-cols-2 lg:h-[700px] bg-white lg:mx-[7%]">
     <div class="">
       <img src="images/2024_09_20_01_32_IMG_2314.PNG" class="w-[400px] lg:w-[600px] mx-auto mt-10"/>
     </div>

     <div class="mt-10 mx-5 text-[#29235C]">
              <h3 class="mt-[13%] text-center font-bold text-uppercase text-[25px]" data-aos="zoom-in" data-aos-duration="1000">
                QUI SOMMES-NOUS ?
              </h3>
            <p class="mt-10 text-center" data-aos="zoom-in" data-aos-duration="1000">
                Nous sommes Ayemtech une entreprise  spécialisée dans l'innovation téchnologique avec expertise dans la conception
                des sites web, le développement d'applications mobiles et la créations d'APIs.
            </p>
            <p class="mt-5 text-center" data-aos="zoom-in" data-aos-duration="1000">
                Nous nous engageons à offrir des solutions sur mesure qui répondent aux besoins spécifiques de nos clients, en alliant performance
                esthétique et fonctionnalité.
            </p>
            <img src="images/003.png" width="400" class="mx-auto opacity-50" data-aos-duration="1000" data-aos="flip-left"/>
     </div>
</div>
<div class="text-[#29235C]  lg:h-[700px] bg-gray-100 py-5">
  <div class="md:mx-[7%]">
    <h3 class="mt-[8%] text-center font-bold text-uppercase text-[25px]">
      NOS OBJECTIFS
      </h3>
<div class="grid lg:grid-cols-3 gap-10 lg: mt-[2%] mx-10 pb-10">
    <div class="bg-transparent rounded-xl  border-l-4 border-b-2 border-r border-[#29235C] relation mt-5 transform hover:scale-110 duration-500">
       <span class="absolute py-3 px-5 text-white  bg-[#29235C] lg:left-[4%] rounded-full font-bold shadow-md">
        1
      </span>
      <h3 class="lg:mt-[15%] mt-[20%] font-bold text-center">
        Fournir des solutions téchnologiques innoventes
     </h3>
     <p class="text-justify mx-5 mt-10 pb-5">
        Développer des téchnologies  à la pointe pour répondre aux besoins diversifiés de nos clients,
       intégrer les dernières tendances et téchnologies pour maintenir nos solutions à la pointe de l'innivation
     </p>
    </div>

    <div  class="bg-transparent rounded-xl  border-l-4 border-b-2 border-r border-[#29235C] relative mt-5 transform hover:scale-110 duration-500">
        <span class="absolute py-3 px-5 text-white bg-[#29235C] lg:left-[4%] rounded-full font-bold shadow-md">
            2
          </span>   
          <h3 class="lg:mt-[15%] mt-[20%] font-bold text-center">
            Assurer une qualité et une performance exceptionnelle
         </h3>
         <p class="text-justify mx-5 mt-10 pb-5">
          Notre objectif est de proposer des produits et services qui incarnent la robustesse, la fiabilité et 
          une expérience utilisateur optimale. Nous nous engageons à concevoir des solutions durables, capables 
          de résister aux rigueurs de l'utilisation quotidienne et de garantir une performance fiable en toutes circonstances. 
         </p>  
    </div>

    <div  class="bg-transparent rounded-xl  border-l-4 border-b-2 border-r border-[#29235C] relative mt-5 transform hover:scale-110 duration-500">
        <span class="absolute py-3 px-5 bg-[#29235C] text-white shadow-md lg:left-[4%] rounded-full font-bold">
            3
          </span>   
        <h3 class="lg:mt-[15%] mt-[20%] font-bold text-center">
          Etablir des partenariats durables
       </h3>
       <p class="text-justify mx-5 mt-10 pb-5">
         Créer des relations solides avec nos clients basées sur la confiance, l'écoute et la satisfaction, 
         afin de soutenir leur croissance et leur succès à long terme
       </p>     
    </div>
</div>
</div>
</div>
<div class="grid justify-center items-center bg-cover bg-center h-[400px] md:h-[400px] lg:h-[700px] text-white relative bg-[#29235C] pb-10">
  <h3 class=" text-center font-bold text-uppercase text-[19px] lg:text-[25px]">
    COMMENT NOUS FONCTIONNONS ?
    </h3>
 <div class="mx-auto relative">
  <img src="images/2024_07_25_01_15_IMG_0643.PNG" class="w-[100px] top-[-18%] z-[-10%]  opacity-50 left-[-10%] lg:w-[200px] md:w-[100px]  absolute md:left-[-8%] md:top-[-15%] lg:top-[-15%] lg:left-[-9%]"/>
  <iframe class="relative z-10 rounded-xl h-[250px] md:w-[500px] md:h-[250px] lg:w-[900px] lg:h-[500px] "   src="https://www.youtube.com/embed/yeOUP__HlVY" title="Comment ayemtech fonctionne" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe>
  <img src="images/2024_07_25_01_15_IMG_0643.PNG" class="absolute lg:w-[300px] lg:bottom-[-20%] lg:right-[-15%] md:w-[200px] md:bottom-[-25%] md:right-[-15%] w-[150px] bottom-[-19%] right-[-15%]"/>
 </div>
</div>