<div class="fixed bg-white  top-0  shadow-md left-0 right-0 z-40">
   <div class="flex justify-between md:mx-[8%]">
   <div class="">
     <img src="images/003.png" class="h-[70px] w-[70px]"/>
   </div>
   <div class="hidden gap-5  md:flex text-[#29235C] text-sm">
      <a class="py-5 cursor-pointer" routerLink="/accueil">Home</a>
      <a class="py-5 cursor-pointer" routerLink="/about">About</a>
      <a class="py-5 cursor-pointer" routerLink="/services">Services</a>
      <a class="py-5 cursor-pointer" routerLink="/projet">Projets</a>
      <a class="py-5 cursor-pointer" routerLink="/contact">Contact</a>
   </div>
   <div class="mr-5 flex md:hidden">
    <i class="fa-solid fa-bars text-[20px] mt-5  py-2 px-2" *ngIf="menumobile" (click)="togglemobile()"></i>
    <span class="mt-4 py-2 px-2 text-[20px] duration-500" *ngIf="!menumobile" (click)="openmobile()">X</span>
   </div>
</div>
</div>


<div *ngIf="!menumobile"  class="bg-white shadow-md fixed z-50 right-2 top-[12%] border  px-10 rounded-md py-5 block md:hidden">
   <div  class="cursor-pointer px-5" routerLink="/accueil">Home</div>
   <div  class="cursor-pointer px-5" routerLink="/about">About</div>
   <div class="cursor-pointer px-5" routerLink="/services">Services</div>
   <a class="px-5 cursor-pointer" routerLink="/team">Equipe</a>
   <div class="cursor-pointer px-5" routerLink="/contact">Contact</div>
   
</div>
