<div class="bg-black h-[600px] flex justify-center items-center">
<div class="mx-10 border  border-white w-[700px] rounded-xl shadow-md h-[395px] mt-[12%] lg:mt-[5%]">
  <h3 class="text-white text-center mt-3">Contact</h3>
  <form class="mt-5">
    <div class="flex justify-center items-center">
      <input type="text" class="form-control h-[40px] rounded-md  border border-white bg-transparent text-white px-5 w-full mx-5 md:mx-10 pl-10" placeholder="Nom de entreprise"/>
    </div>
    <div class="flex justify-center items-center mt-7">
      <input type="email" class="form-control h-[40px] rounded-md  border border-white bg-transparent text-white px-5 w-full mx-5 md:mx-10 pl-10" placeholder="Email entreprise"/>
    </div>
    <div class="flex justify-center items-center mt-7">
      <input type="tel" class="form-control h-[40px] rounded-md  border border-white bg-transparent text-white px-5 w-full mx-5 md:mx-10 pl-10" placeholder="Téléphone"/>
    </div>
    <div class="flex justify-center items-center mt-7">
      <select  class="form-control h-[40px] rounded-md  border border-white bg-transparent text-white px-5 w-full mx-5 md:mx-10 pl-10">
        <option value=""  class="bg-black text-white">- - Services</option>
        <option value="créaton site web vitrine" class="bg-black text-white">Developpement site web vitrine</option>
        <option value="créaton site web e-commerce"  class="bg-black text-white">Developpement site e-commerce</option>
        <option value="créaton site web bookmaker"  class="bg-black text-white">Developpement site web bookmaker</option>
        <option value="créaton application mobile android & ios"  class="bg-black text-white">Developpement application mobile android & ios</option>
        <option value="créaton d'un api rest"  class="bg-black text-white">Developpement d'un API REST</option>
        <option value="campagne publicitaire"  class="bg-black text-white">Campagne publicitaire</option>
      </select>
    </div>
    <div class="flex justify-center items-center mt-7 pb-5">
     <button class="bg-transparent w-[200px] py-3 border border-white text-white hover:bg-white hover:text-black">
       Envoyer
     </button>
    </div>
  </form>
</div>
</div>
