<div class="h-[650px] md:h-[700px] text-white  bg-gradient-to-t from-black to-[#29235C] overflow-hidden relative">
<div class="md:mx-[10%]">
    <h3 class=" text-white text-center font-bold mt-[24%] md:mt-[15%] lg:mt-[6%] text-uppercase text-[25px]" data-aos="fade-up"  data-aos-duration="1000">
      PROJETS & REALISATIONS
  </h3>
  <img src="images/graph.png" class="absolute opacity-30 w-[50px] top-[5%] left-[5%] lg:top-[5%] lg:left-[5%] md:w-[90px] md:top-[5%] md:left-[5%]"/>
    <div class="relative mt-5 mx-5 md:mx-[6%] lg:mx-10">
      <div class="swiper mt-10">
        <div class="slide-wrapper">
    
         <div class="card-list swiper-wrapper pb-5">
    
           <div class="swiper-slide">
            <img src="images/its.png" class="lg:w-[450px] lg:h-[200px] rotate-[-25deg] mt-[15%] mx-auto"/>
           </div>
            
           <div class="swiper-slide">
            <img src="images/lemalachite.png" class="lg:w-[450px] lg:h-[200px] rotate-[-25deg] mt-[15%] mx-auto"/>
         </div>
    
    
         <div class="swiper-slide">
            <img src="images/mabaya.png" class="mt-[12%] w-[200px] rotate-[-30deg] mx-auto"/>
         </div>
    
    
         <div class="swiper-slide">
          <img src="images/mabayalogin.png" class="mt-[15%] w-[150px] rotate-[-30deg] mx-auto"/>
         </div>
    
         <div class="swiper-slide">
          <img src="images/mabayalogin.png" class="mt-[15%] w-[150px] rotate-[-30deg] mx-auto"/>
       </div>

         </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
        </div>
    </div>
    </div>
</div>
</div>