<div class="h-[650px] md:h-[700px] text-white  bg-gradient-to-t from-black to-[#29235C] overflow-hidden relative">
    <h3 class=" text-white text-center font-bold mt-[24%] md:mt-[15%] lg:mt-[6%] text-uppercase text-[25px]" data-aos="fade-up"  data-aos-duration="1000">
      NOTRE EQUIPE
  </h3>
  <img src="images/graph.png" class="absolute opacity-30 w-[50px] top-[5%] left-[5%] lg:top-[5%] lg:left-[5%] md:w-[90px] md:top-[5%] md:left-[5%]"/>
    <div class="relative mt-5 mx-5 md:mx-[6%] lg:mx-10">
      <div class="swiper mt-10">
        <div class="slide-wrapper">
    
         <div class="card-list swiper-wrapper">
    
           <div class="card-item swiper-slide shadow-md">
              <img class="w-[255px]" src="images/2024_07_26_14_04_IMG_0660.PNG"/>
              <h3 class="user-name">Michee Kolony</h3>
              <p class="user-profession text-red-500  mt-5 text-sm">CEO ayem tech et Developpeur web</p>
           </div>
            
           <div class="card-item swiper-slide shadow-md">
            <img class="w-[170px]" src="images/portrait-beau-jeune-homme-souriant-africain-noir.png"/>
            <h3 class="user-name">Barth Lungele</h3>
            <p class="user-profession text-red-500  mt-5 text-sm">Co-fondateur ayemtech et Developpeur web</p>
         </div>
    
    
         <div class="card-item swiper-slide">
            <img class="w-[190px]" src="images/homme-elegant-costume.png"/>
            <h3 class="user-name">Celian shine</h3>
            <p class="user-profession text-red-500 mt-5 text-sm">Directeur artistique</p>
         </div>
    
    
         <div class="card-item swiper-slide">
            <img class="w-[170px]" src="images/2024_07_29_12_17_IMG_0750.PNG"/>
            <h3 class="user-name">Abigael Nkanga</h3>
            <p class="user-profession text-red-500 mt-5 text-sm">Responsable marketing digital</p>
         </div>
    
         <div class="card-item swiper-slide">
          <img class="w-[160px]" src="images/vue-frontale-serieux-femme-employe-bureau.png"/>
          <h3 class="user-name">Gaella cijoli</h3>
          <p class="user-profession text-red-500 mt-5 text-sm">Responsable GRH</p>
       </div>
  
        
         </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
        </div>
    </div>
    </div>
   </div>